#Textbox
{
	border: none;
	font-size: 30px;
	font-family: "LexendDeca-Regular";
	background-color: transparent;
	overflow: hidden;
	resize: none;
	position: absolute;
}


#Textbox:focus
{
	outline: none;	

}

#Textbox::selection
{
color: white;
background-color: #ff00ff;

}